@font-face {
    font-family: 'Neucha';
    src: url('fonts/Neucha-Regular.ttf');
  }

:root {
    --White: #fff;
    --TranslucentWhite: #d7ccc0;
    --Light: #f5f4f0;
    --Primary: #fe8a02;
    --MainDark: #42413c;
    --Dark: #2a2626;
    --TranslucentDark: #908d8b;
    --Brown: #b09a81;
    --Blue: #1085c5;
    --substrate: url(images/background.png);
}

html {
    color: #2A2626;
    font: 16/1.6 'Open Sans', sans-serif;
}

h1,
h2,
h3 {
    font-family: 'Neucha', sans-serif;
    font-weight: normal;
    line-height: 1.2em;
}

h1 {
    font-size: 72px;
}

h2 {
    font-size: 60px;
}

h3 {
    font-size: 34px;
}

[class^="section"] {
    width: 1110px;
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: center;
}

.background-first {
    position: relative;
}

.background-first::before {
    position: absolute;

    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-image: var(--substrate);
    background-repeat: no-repeat;
    background-size: cover;

    opacity: 90%;

    content: '';
}

.picture-first {
    position: absolute;

    height: 525px;
    top: 55px;
    right: -270px;
}