/* Rules */

@font-face {
  font-family: '"Neucha';
  src: url("../assets/fonts/Neucha-Regular.ttf");
}

@font-face {
  font-family: "Open Sans";
  src: url("../assets/fonts/OpenSans-Regular.ttf");
}

:root {
  --white: #fff;
  --translucent-white: #d7ccc0;
  --light: #f5f4f0;
  --primary: #fe8a02;
  --primary-dark: #ea7600;
  --main-dark: #42413c;
  --dark: #2a2626;
  --translucent-dark: #908d8b;
  --brown: #b09a81;
  --blue: #1085c5;
  --substrate: url("../assets/images/background.png");
}

/*
General
bg - background
clr - color
col - column
row
descr - description
title
sect - section
pict - picture
vid - video
link
numb - number
opt - option
ind - indent
*/

html {
  color: #2a2626;
  font: 16px/1.6 "Open Sans", sans-serif;
}

body {
  margin: 0;
}

header,
main,
footer {
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;
}

h1,
h2,
h3 {
  margin: 0;

  color: var(--primary);
  font-weight: normal;

  font-family: '"Neucha', sans-serif;
  line-height: 1.2em;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 34px;
}

.black-color {
  color: var(--dark);
}

.primary-color {
  color: var(--primary);
}

.white-color {
  color: var(--white);
}

.translucent-dark-color {
  color: var(--translucent-dark);
}

.translucent-white-color {
  color: var(--translucent-white);
}

.title-color-var-1 {
  color: var(--white);

  background-color: var(--brown);
}

.title-color-var-2 {
  color: var(--brown);

  background-color: var(--white);
}

[class$="bg"] {
  position: relative;

  display: flex;
  justify-content: center;
  width: 100%;
}

.opt-1-bg::before {
  position: absolute;

  top: 0;
  right: 0;
  left: 0;

  z-index: 100;

  width: 100%;
  height: 100%;
  margin: 0 auto;

  background-color: var(--light);

  content: "";
}

.opt-1-bg::after {
  position: absolute;

  top: 0;
  right: 0;
  left: 0;

  z-index: 200;

  width: 100%;
  height: 100%;
  margin: 0 auto;

  background-image: var(--substrate);
  background-repeat: no-repeat;
  background-size: cover;

  opacity: 0.1;

  content: "";
}

.opt-2-bg::before {
  position: absolute;

  top: 0;
  right: 0;
  left: 0;

  z-index: 300;

  width: 100%;
  height: 100%;
  margin: 0 auto;

  background-color: var(--main-dark);

  content: "";
}

.opt-3-bg::before {
  position: absolute;

  top: 0;
  right: 0;
  left: 0;

  z-index: 400;

  width: 100%;
  height: 100%;
  margin: 0 auto;

  background-color: var(--brown);

  content: "";
}

.opt-3-bg::after {
  position: absolute;

  top: 0;
  right: 0;
  left: 0;

  z-index: 500;

  width: 100%;
  height: 100%;
  margin: 0 auto;

  background-image: var(--substrate);
  background-repeat: no-repeat;
  background-size: cover;

  opacity: 0.1;

  content: "";
}

[class$="sect"] {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;

  justify-content: center;

  width: 1110px;
  padding-top: 100px;
  padding-bottom: 100px;
}

[class*="sect-row"] {
  display: flex;

  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;

  width: 100%;

  column-gap: 30px;
}

[class$="sect-col-txt"] {
  display: flex;

  flex-direction: column;
  justify-content: flex-start;

  margin-top: -5px;
}

[class$="sect-descr-1"] {
  margin: 0;

  font-weight: normal;

  font-size: 24px;
  font-family: '"Neucha', sans-serif;
}

[class$="sect-descr-2"] {
  margin: 30px 0 0;

  font: 34px/1.2 '"Neucha', sans-serif;
  font-weight: normal;
}

[class$="sect-pict"] {
  vertical-align: middle;

  filter: drop-shadow(0 16px 32px rgb(0 0 0 / 15%));
}

[class$="sect-title-2"] {
  display: block;
  box-sizing: border-box;

  width: inherit;

  margin: 100px 0 20px;
  padding: 5px 0 5px 10px;

  font-weight: normal;

  font-size: 14px;
  font-family: "Open Sans", sans-serif;

  text-align: left;
}

[class*="sect-row-2"] div {
  display: block;

  width: 50%;

  text-align: left;
}

[class$="sect-row-2"] div p {
  margin: 0;
}

/* First section */

.first-sect {
  z-index: 800;
}

.first-sect-main-pict {
  position: absolute;
  top: 55px;
  right: -270px;

  z-index: 600;

  height: 525px;
}

.first-sect-clr-title {
  position: relative;

  z-index: 700;

  width: 100%;

  text-align: left;
}

.first-sect-row-2-opt-1 {
  margin-top: 185px;
}

.first-sect-row-2-opt-1 div p {
  margin-bottom: 0;
}

.first-sect-main-link {
  display: inline-block;

  margin-top: 40px;
  padding: 12px 24px;

  overflow: visible;

  color: var(--white);
  font-weight: bold;
  text-decoration: none;

  background-color: var(--primary);
}

.first-sect-main-link:hover {
  background-color: var(--primary-dark);
  cursor: pointer;
}

/* Second section */

.second-sect-clr-title {
  padding: 0;

  font-size: 60px;
  text-align: center;
}

.second-sect-vid-descr {
  position: relative;

  z-index: 900;

  display: inline-block;

  width: 100%;

  margin: 30px 0 390px;
  padding-bottom: 30px;

  font: 16px/1.6 "Open Sans", sans-serif;
  text-align: center;
}

.second-sect-vid {
  position: absolute;
  right: 0;
  bottom: -569px;

  left: 0;

  margin: 0 auto;

  padding: 0;

  filter: drop-shadow(0 16px 32px rgb(0 0 0 / 15%));
}

/* Third section */

.third-sect {

  z-index: 1000;

  padding-top: 200px;
}

.third-sect-clr-title {
  position: relative;

  font-size: 52px;
}

[class^="third-sect-opt"] {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  width: inherit;
  margin-bottom: 20px;
}

[class^="third-sect-opt"]:nth-child(2) {
  margin-bottom: 0;
}

[class^="third-sect-card-n"] {
  display: block;
  box-sizing: border-box;

  width: 350px;

  margin-right: auto;
  padding: 24px;

  background-color: var(--light);
}

.third-sect-card-title {
  font-size: 34px;
}

[class^="third-sect-card-n"]:nth-child(3n+3) {
  margin-right: 0;
}

.third-sect-card-n {
  padding: 0;

  background-color: transparent;
}

.third-sect-link {
  color: inherit;
  text-decoration: none;
}

.third-sect-link:hover {
  background-color: var(--primary);
}

.third-sect-link:hover h2 {
  color: var(--white);
}

.third-sect-numb {
  margin: 0 0 40px;

  font-weight: normal;

  font-size: 64px;
  font-family: '"Neucha', sans-serif;
  line-height: 1;
}

[class^="third-sect-card-descr"] {
  margin-bottom: 0;
}

/* Fourth-eighth section */

.fourth-sect {
  z-index: 1100;
}

.fifth-sect {
  z-index: 1200;
}

.sixth-sect {
  z-index: 1300;
}

.seventh-sect {
  z-index: 1400;
}

.eighth-sect {
  z-index: 1500;
}

.eighth-ind-1 {
  margin: 0;
}

/* Footer */

.footer-row-1 {
  display: flex;

  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  box-sizing: border-box;

  width: inherit;
  height: 190px;
  padding-right: 55px;

  padding-left: 55px;

  background-color: var(--main-dark);
}

.footer-col-1 {
  display: block;
}

.footer-email {
  margin: 0 0 9px;

  font: 18px/1.6 "Open Sans", sans-serif;
}

.footer-form {
  display: flex;

  flex-direction: row;
  align-items: center;
}

.sr-only {
  position: absolute;

  width: 1px;
  height: 1px;
  padding: 0;

  overflow: hidden;

  white-space: nowrap;

  border: 0;
}

.footer-input {
  box-sizing: border-box;
  width: inherit;
  width: 415px;

  height: 50px;
  padding: 15px;

  border: none;

  outline: none;
}

.footer-input::placeholder {
  opacity: 0.2;
}

.footer-button {
  position: relative;

  display: block;
  width: 70px;
  height: 50px;

  padding: 0;

  background-color: var(--primary);

  border: none;

  outline: none;
}

.footer-pict {
  position: absolute;

  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  margin: auto;
}

.footer-button:hover {
  background-color: var(--primary-dark);
  cursor: pointer;
}

.footer-rules {
  margin: 3px 0;

  font: 12px/1.6 "Open Sans", sans-serif;
}

.footer-link-1 {
  color: inherit;
}

.footer-row-2 {
  display: block;

  width: inherit;

  margin-top: 60px;

  text-align: center;
}

.footer-row-2 * {
  font: 14px/1.6 "Open Sans", sans-serif;
}
