/*Rules*/

@font-face {
    font-family: 'Neucha';
    src: url('../assets/fonts/Neucha-Regular.ttf');
}

@font-face {
    font-family: 'Open Sans';
    src: url('../assets/fonts/OpenSans-Regular.ttf');
}

:root {
    --White: #fff;
    --TranslucentWhite: #d7ccc0;
    --Light: #f5f4f0;
    --Primary: #fe8a02;
    --PrimaryDark: #EA7600;
    --MainDark: #42413c;
    --Dark: #2a2626;
    --TranslucentDark: #908d8b;
    --Brown: #b09a81;
    --Blue: #1085c5;
    --Substrate: url(../assets/images/background.png);
}

/*
General
bg - background
clr - color
col - column
row
descr - description
title
sect - section
pict - picture
vid - video
link
numb - number
opt - option
ind - indent
*/

html {
    color: #2A2626;
    font: 16px/1.6 'Open Sans', sans-serif;
}

header,
main,
footer {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;
}

h1,
h2,
h3 {
    font-family: 'Neucha', sans-serif;
    font-weight: normal;
    line-height: 1.2em;
}

h1 {
    font-size: 72px;
}

h2 {
    font-size: 60px;
}

h3 {
    font-size: 34px;
}

.primary-color {
    color: var(--Primary);
}

.white-color {
    color: var(--White);
}

.translucentDark-color {
    color: var(--TranslucentDark);
}

.translucentWhite-color {
    color: var(--TranslucentWhite);
}

.title-color-var-1 {
    color: var(--White);
    background-color: var(--Brown);
}

.title-color-var-2 {
    color: var(--Brown);
    background-color: var(--White);
}

[class$="bg"] {
    position: relative;

    display: flex;
    justify-content: center;
    width: 100%;
}

.opt-1-bg::before {
    position: absolute;

    width: 100%;
    height: 100%;

    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;

    background-image: var(--Substrate);
    background-repeat: no-repeat;
    background-size: cover;

    opacity: 10%;

    content: '';

    z-index: 100;
}

.opt-2-bg::before {
    position: absolute;

    width: 100%;
    height: 100%;

    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;

    background-color: var(--MainDark);
    background-repeat: no-repeat;
    background-size: cover;

    content: '';

    z-index: 200;
}

.opt-3-bg::after {
    position: absolute;

    width: 100%;
    height: 100%;

    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;

    background-color: var(--Brown);

    content: '';

    z-index: 300;
}

.opt-3-bg::before {
    position: absolute;

    width: 100%;
    height: 100%;

    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;

    background-image: var(--Substrate);
    background-repeat: no-repeat;
    background-size: cover;

    content: '';

    opacity: 10%;

    z-index: 400;
}

[class$="sect"] {
    position: relative;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    width: 1110px;
    padding-top: 100px;
    padding-bottom: 100px;
}

[class*="sect-row"] {
    display: flex;

    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;

    width: 100%;

    column-gap: 30px;
}

[class$="sect-descr-1"] {
    margin: 0;

    font-size: 24px;
    font-family: 'Neucha', sans-serif;
    font-weight: normal;
}

[class$="sect-title-1"] {
    margin: 0;
}

[class$="sect-descr-2"] {
    margin: 30px 0 0;
    font: 34px/1.2 'Neucha', sans-serif;
    font-weight: normal;
}

[class$="sect-pict"] {
    vertical-align: middle;

    filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
}

[class$="sect-title-2"] {
    display: block;

    width: inherit;
    box-sizing: border-box;

    margin: 100px 0 20px;
    padding: 5px 0 5px 10px;

    text-align: left;

    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
}

[class*="sect-row-2"] div {
    display: block;

    width: 50%;

    text-align: left;
}

[class$="sect-row-2"] div p {
    margin: 0;
}

/*First section*/

.first-sect {
    z-index: 800;
}

.first-sect-main-pict {
    position: absolute;

    height: 525px;
    top: 55px;
    right: -270px;

    z-index: 500;
}

.first-sect-clr-title {
    position: relative;

    width: 100%;
    margin-top: 8px;
    margin-bottom: 0;

    text-align: left;

    z-index: 600;
}

.first-sect-row-2-opt-1 {
    margin-top: 177px;
}

.first-sect-row-2-opt-1 div p {
    margin-bottom: 0;
}

.first-sect-main-link {
    display: inline-block;

    margin-top: 40px;
    padding: 12px 24px;
    text-decoration: none;
    font-weight: bold;

    color: var(--White);
    background-color: var(--Primary);

    overflow: visible;
}

.first-sect-main-link:hover {
    background-color: var(--PrimaryDark);
    cursor: pointer;
}

/*Second section*/

.second-sect-clr-title {
    margin: 0;
    padding: 0;
    text-align: center;
}

.second-sect-vid-descr {
    position: relative;

    display: inline-block;

    margin: 25px 0 382px 0;
    padding-bottom: 30px;

    width: 100%;
    text-align: center;

    z-index: 700;
}

.second-sect-vid {
    position: absolute;

    left: 0;
    right: 0;
    bottom: -569px;

    padding: 0;
    margin: 0 auto;

    filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
}

/*Third section*/

.third-sect {
    padding-top: 200px;

    z-index: 900;
}

.third-sect-clr-title {
    position: relative;

    font-size: 52px;
    margin: 0;
}

[class^="third-sect-opt"] {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: inherit;
    margin-bottom: 20px;
}

[class^="third-sect-opt"]:nth-child(2) {
    margin-bottom: 0;
}

[class^="third-sect-card-n"] {
    display: block;

    width: 350px;
    box-sizing: border-box;

    margin-right: auto;
    padding: 24px;

    background-color: var(--Light);
}

.third-sect-card-title {
    color: var(--Primary);
    margin: 0;
}

[class^="third-sect-card-n"]:nth-child(3n+3) {
    margin-right: 0;
}

.third-sect-card-n {
    padding: 0;
    background-color: transparent;
}

.third-sect-link {
    text-decoration: none;
    color: inherit;
}

.third-sect-link:hover,
.third-sect-link:hover h3 {
    color: var(--White);
    background-color: var(--Primary);

}

.third-sect-numb {
    margin: 0 0 40px 0;

    font-size: 64px;
    font-weight: normal;
    line-height: 1;
}

[class^="third-sect-card-descr"] {
    margin-bottom: 0;
}

/*Fourth-eighth section*/

.fourth-sect {
    z-index: 1000;
}

.fifth-sect {
    z-index: 1100;
}

.sixth-sect {
    z-index: 1200;
}

.seventh-sect {
    z-index: 1300;
}

.eighth-sect {
    z-index: 1400;
}

.eighth-ind-1 {
    margin: 0;
}

/*Footer*/

.footer-row-1 {
    display: flex;

    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: inherit;
    height: 190px;

    box-sizing: border-box;

    padding-left: 55px;
    padding-right: 55px;

    background-color: var(--MainDark);
}

.footer-col-1 {
    display: block;

    margin: 0;
}

.footer-email {
    font: 18px/1.6 'Open Sans', sans-serif;
    margin: 0 0 9px 0;
}

.footer-form {
    display: flex;

    flex-direction: row;
    align-items: center;
}

.sr-only {
    position: absolute;

    width: 1px;
    height: 1px;
    padding: 0;
    border: 0;
    overflow: hidden;

    white-space: nowrap;
}

.footer-input {
    width: inherit;

    height: 50px;
    width: 415px;
    padding: 15px;
    box-sizing: border-box;

    border: none;
    outline: none;
}

.footer-input::placeholder {
    opacity: 20%;
}

.footer-button {
    position: relative;

    display: block;

    padding: 0;
    width: 70px;
    height: 50px;

    border: none;
    outline: none;

    background-color: var(--Primary);
}

.footer-pict {
    position: absolute;

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.footer-button:hover {
    background-color: var(--PrimaryDark);
    cursor: pointer;
}

.footer-rules {
    font: 12px/1.6 'Open Sans', sans-serif;
    margin: 3px 0 3px;
}

.footer-link-1 {
    color: inherit;
}

.footer-row-2 {
    display: block;

    margin-top: 60px;

    width: inherit;
    text-align: center;
}

.footer-row-2 * {
    font: 14px/1.6 'Open Sans', sans-serif;
}